# DirectoryIndex pdo.php
Header add Access-Control-Allow-Origin "*"

Options +FollowSymLinks -MultiViews

<IfModule mod_rewrite.c>

# Enable mod_rewrite
RewriteEngine On

# Clean URLs for GET endpoints
RewriteRule ^api/books$ api.php/?books [L]
RewriteRule ^api/book/(.*)$ api.php?id=$1 [L]
RewriteRule ^api/title/(.*)$ api.php?title=$1 [L]
RewriteRule ^api/firstname/(.*)$ api.php?author_firstname=$1 [L]
RewriteRule ^api/lastname/(.*)$ api.php?author_lastname=$1 [L]

# Clean URLs for POST, PUT, and DELETE methods
RewriteRule ^api/book/(.*)$ api.php?id=$1 [L]

# Handle other requests (e.g., images, CSS, JS)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [L]

</IfModule>